/99_bottles.py
/aa.py
/archivo.txt
/cadena.py
/cadena.rar
/calcularporcentaje.py
/convertirGrados.py
/csv.py
/detention.py
/ejercicio.rar
/fecha.py
/fizzbuzz.py
/grades.py
/grocery.py
/harry.py
/hora.py
/lanzamientomoneda.py
/magic8ball.py
/manejo_archivos.py
/operadoreslogico.py
/par_impar.py
/phcalculate.py
/quadratic.py
/Screenshot_1.png
/Screenshot_2.png
/Screenshot_3.png